.page-header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	box-sizing: border-box;
	height: 74px;
	background: rgba(29, 19, 3, 0.5);
	padding: 0 30px;
	align-items: center;
	width: 100%;
}
.page-header>.logo-img, .page-header>.icons-item{
	display: block;
}
.page-header>.menu{
	flex-grow:8;
}
