.page-header{
	height: 74px;
	background: rgba(29, 19, 3, 0.5);
  padding: 17px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header>.logo-img, .page-header>.icons-item{
	width: 100px;
	height: 50px;
	background: blue;
	display: block;
}
.page-header>.menu{
	flex-grow:8;
}
