.page-header{
	height: 74px;
	width: 100%;
	background: rgba(29, 19, 3, 0.5);
  padding: 17px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header>.logo-img{
	flex-grow:1
}
.page-header>.menu{
	flex-grow:8
}
.page-header>.icons-item{
	flex-grow:1
}