h1, h2, h3, h4, h5, h6, p, a, div {
	font-family: 'Marmelad', sans-serif;
    font-weight: 400;
}
a{
	color: inherit;
	text-decoration: none;
}
.text-white{ color: #fff; }
.text-center{ text-align: center; }
.text-extra-big{
	font-size: 72px;
	letter-spacing: -.05em;
	line-height: 1.3;
}
.grid{ display: grid; }